/*this is for styling of logo and font for all pages*/
html {
    background-color: #7E8071;
    width: 100%;
    height: 100vh;
    font-family:Roboto, Arial, Helvetica, sans-serif; color: white;}

.logo {
    position: fixed;
    top: 10px;
    left: 20px;
    background-size: cover;}  
/*this is for styling the navigation bar*/
#menu {
    position: fixed;
    top: 10px;
    right: 50px;
    color: white;}

li {
    display: inline-block;
    margin-left: 20px;
    font-size: 20px;}

 a {
     color: white;
 } 
 a:hover {color: wheat;}  
/*this is for portfolio page styling*/
.fa-user-alt {
    position: relative;;
    left:60px;
    font-size: 150px;
    padding-top: 10px;
    color: white;
    display: block;
    width: 30%;
    margin:0 auto;} 

.fa-user-alt:hover {
    color: red;}    
    
.fa-users {
    position: relative;;
    left:50px;
    font-size: 150px;
    padding-top: 10px;
    color: white;
    display: block;
    width: 30%;
    margin:0 auto;} 

.fa-users:hover {
    color: red;}
    
.fa-user-friends {
    position: relative;;
    left:50px;
    font-size: 150px;
    padding-top: 10px;
    color: white;
    display: block;
    width: 30%;
    margin:0 auto;}

.fa-user-friends:hover {
    color: red;}    
    
.fa-people-carry {
    position:relative;
    left:50px;
    font-size: 150px;
    padding-top: 10px;
    color: white;
    display: block;
    width: 30%;
    margin:0 auto;}
    
.fa-people-carry:hover{
    color: red;}    
    
.cards {
    width: 700px;
    height: 620px;
    float: left;
    position: fixed;
    left: 40px;}

.cards::after {
    content: "";
    clear: both;
    display: table;}  

#card1 {
    float: left;
    background-color: #EDBC81;
    margin: 10px;
    padding: 10px;
    min-width: 250px;
    position: fixed;
    top: 300px;
    left: 100px;
    width: 280px;
    height: 220px;
    transition: ease-in 2s;}

#card1:hover {   
    transform: rotate(15deg);} 

#card1 p{
    position: absolute;
    width: 200px;
    top: 150px;
    left: 40px;
    font-size: 25px;
    display: inline-block;}  

#card2 {
    float: right;
    background-color: #EDBC81;
    margin: 10px;
    left: 500px;
    padding: 10px;
    position: fixed;
    top: 300px;
    min-width: 250px;
    width: 280px;
    height: 220px;
    transition: ease-in 2s;}

#card2:hover {
    transform: rotate(-15deg);}    
    
#card2 p{
    position: absolute;
    width: 200px;
    top: 150px;
    left: 50px;
    font-size: 25px;
    display: inline-block;}    
    
#card3 {
    float: left;
    background-color: #EDBC81;
    margin: 10px;
    padding: 10px;
    min-width: 250px;
    position: fixed;
    top: 640px;
    margin: 0 auto;
    left: 110px;
    width: 280px;
    height: 220px;
    transition: ease-in 2s;}

#card3:hover {
    transform: rotate(15deg);}    

#card3 p{
    position: absolute;
    width: 200px;
    top: 150px;
    left: 40px;
    font-size: 25px;
    display: inline-block;}
    
#card4 {
    float: right;
    background-color: #EDBC81;
    margin: 10px;
    padding: 10px;
    min-width: 250px;
    position: fixed;
    left: 500px;
    top: 630px;
    width: 280px;
    height: 220px;
    transition: ease-in 2s;} 

#card4:hover {
    transform: rotate(-15deg);
}    

#card4 p{
    position: absolute;
    width: 200px;
    top: 150px;
    left: 50px;
    font-size: 25px;
    display: inline-block;}    
        
.portfolio h1 {
    position: fixed;
    left: 100px;
    top: 150px;
    font-size: 3.5em;} 

.picture {
    position: fixed;
    display: block;
    width: 800px;
    height: 800px;
    float: right;
    left: 1100px;
    top: 185px;
    transition: ease-in 2s;}

.picture :hover {
    opacity: 60%;
    transform: scaleX(-1);}    

#below h5{
    position: fixed;
    display: inline-block;
    font-size: 37px;
    top: 830px;
    left: 100px;}

p {
    text-align: center;}

/*this is for styling the landing page*/ 
#myVideo {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    z-index: -50000px;} 

#main {
    color: white;
    position: fixed;
    top: 35vh;
    left: 60vw;
    z-index: 50000;}

#main h1 {
    /* 1em(M) means 16px */
    font-size: 4em;
    position: fixed;
    top: 350px;
    transition: ease-in 2s;}

#main h1:hover {
    color: #EDBC81;
    transform: scale(2,2);
}    

#main .middle {
    top: 480px;
    position: fixed;
    font-size: 2.5em}    

.button {
    /* change the position based on its positioned parents*/
    position: fixed;
    top: 680px;
    width: 150px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 1.5em;
    background-color: #EDBC81;
    padding: 10px;
    color: #ffffff;
    border-radius: 10px;}

.model {
    /* for the location (bottom left) */
    position: fixed;
    width: 900px;
    height: 900px;
    bottom: 0px;
    left: 0px;
    top: 250px;
    background-size: cover;
    z-index: 50000;} 
    
/*this is for styling the contact page*/
input {
    background-color: #EDBC81;
    padding: 10px;
    margin: 5px;
    height: 20px;
    border-radius: 5px;}

input:focus {
    background-color: wheat;}

textarea {
    margin: 5px;
    height: 100px;
    border-radius: 5px;}

legend {
    color: white;
    font-size: 3em;}

.buttonform {
    width: 200px;
    height: 35px;
    font-weight: 800;
    background-color: white;
    color: black;
    text-align: center;
    padding: 5px;
    border-radius: 5px;}

#covered {
    width: 1520px;
    height: 700px;
    text-align:center;
    background-color: wheat;
    margin-right: auto;
    margin-left: auto;
    position: fixed;
    top: 200px;
    left: 200px;
    opacity: 50%;
    border-radius: 20px;
}   

select,
option {
    font-size: 15px;
    padding: 10px;
    color: #7E8071;
    width: 200px;}

#part1 {
    position: fixed;
    float: left;
    width: 700px;
    top: 280px;
    left: 300px;}

#part2 {
    background-color: #EDBC81;
    padding: 10px;
    position: fixed;
    float: right;
    width: 500px;
    top: 330px;
    left: 1100px;}      

/*this is for styling the hamburger bar*/    
.fa-bars{
    display: none !important;}

/*this is for styling the social media icons and copyright text*/
footer {
    width: 100%;
    height: 120px;
    z-index: 50000;
    position: fixed;
    bottom: 0px;
    text-align: center;
    padding-top: 20px;}

footer p {color: #EDBC81;}
    
.fab {
    padding: 10px;
    font-size: 30px;
    width: 50px;} 
    
/*this is for styling mentorpairing page*/
figure,
     video {
            margin: 0 auto;
            /* display: block; */
            text-align: center;
            top: 100px;
        }
     figure {
         width: 900px;
         position: fixed;
         top: 200px;
         left: 510px;
     } 
     h2 {font-size: 40px;
        height: 100px;
        width: 400px;
        line-height: 100px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        top: 50px;} 

        #bodytext {
            background-color: #EDBC81;
            padding: 10px;
            font-size: 25px;
            width: 800px;
            margin: 0 auto;
            text-align: center;} 
            
 /*this is for styling onesession page*/
 
 #group1 {width: 700px;
    padding: 10px;
    min-width: 250px;
    height: 300px;
    float: left;
    position: fixed;
    left: 200px;
    top: 200px;}

    #group1 img {float: left;
    padding-right: 1em;}

    /* Pseudo element */
    #group1::after {content: "";
    clear: both;
    display: table;}

    #group2 {width: 700px;
    padding: 10px;
    min-width: 250px;
    height: 300px;
    float: right;
    position: fixed;
    left: 1000px;
    top: 200px;}

    #group2 img {float: left;
    padding-right: 1em;}

    /* Pseudo element */
    #group2::after {content: "";
    clear: both;
    display: table;}

    #group3 {width: 700px;
    padding: 10px;
    min-width: 250px;
    height: 300px;
    float: left;
    position: fixed;
    left: 200px;
    top: 580px;}

    #group3 img {float: right;
    padding-left: 1em;}

    /* Pseudo element */
    #group3::after {content: "";
    clear: both;
    display: table;}

    #group4 {width: 700px;
    padding: 10px;
    min-width: 250px;
    height: 300px;
    float: right;
    position: fixed;
    left: 1000px;
    top: 580px;}

    #group4 img {float: right;
    padding-left: 1em;}

    /* Pseudo element */
    #group4::after {content: "";
    clear: both;
    display: table;}

    img:hover {opacity: 30%;}


    .alr {text-align: right;}
    .all {text-align: left;}
    
 /*this is for styling helpkit page*/
 #help {width: 600px;
    height: 700px;
    position: fixed;
    top: 200px;
    left: 100px;
    background-color: #EDBC81;
    opacity: 30%;
    border-radius: 20px;}

    #bodytexts {position: fixed;
    top: 220px;
    width: 560px;
    left: 120px;
    color: white;}

    #bodytexts p {
        font-size: 30px;}
        
 /*this is for styling schedule page*/
 table {
    width:1200px;
    position: relative;
    top: 100px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;}
    
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;}

th, td {
    padding: 5px;
    text-align: left;}

table#t01 tr:nth-child(even) {
    background-color: wheat;}

table#t01 tr:nth-child(odd) {
   background-color:#EDBC81;}

table#t01 th {
    background-color: black;
    color: white;}       

/* This one is for iPad size css. If the width reaches 1024px, this new CSS rule will be applied */
@media (max-width:1024px){
    /*for styling landing page*/
    #menu{
    display:none;}
    #main h1{
    top: 20vh;
    left: 30vw;}
    .button {display: none;}
    #main .middle {
    top: 30vh;
    left: 15vw;}
    .model {top: 42vh;
    left: 3vw;}
    /*for hamburger bar*/
    .fa-bars{
    display:block !important;
    color:white;
    position:fixed;
    top:30px;
    left: 940px;
    font-size: 2em;}
    /*for styling porfolio page*/
    #below h5 {font-size: 2em; 
    width: 800px;
    display: block;
    left: 120px;
    top: 1000px;} 
    #card1 p {left: 50px;}
    #card2 p {left: 50px;}
    #card3 p {left: 50px;}
    #card4 p {left: 50px;} 
    #card1 {left: 180px; top: 380px;}
    #card2 {top: 380px;}
    #card3 {left: 180px;
    top: 700px;}
    #card4 {top: 690px;}
   .portfolio h1 {
    left: 130px;
    top: 200px;}
    /*this is for contact page*/
    #part1 {
    top: 200px;
    left: 250px;} 
    input {
    height: 15px;}
    #part2 {
    float: left;
    top: 680px;
    left: 255px;}
    #covered {
    top: 150px;
    width: 630px;
    height: 1000px;
    } 
    /*this is for styling the footer*/
    footer {
    background-color: #000000}
    /*this is for styling helpkit page*/
    #help {
    width: 400px;
    height: 500px;
    top: 300px;
    left: 50px;}
    
    #bodytexts {
    top: 320px;
    width: 380px;
    left: 60px;}
    
    #bodytexts p {
    font-size: 20px;}}

/*this is for styling the iphone sizes*/    
@media (max-width:414px){
    /*for styling landing page*/
    #menu{
    display:none;}
    #main h1{
    top: 25vh;
    left: 30vw;
    font-size: 6vw;}
    .model {width: 570px;
    height: 570px;
    left: -80px;
    top: 330px;}
    .button {display: none;}
    #main .middle {
    top: 30vh;
    left: 15vw;
    font-size: 4vw;}

    /*for styling portfolio*/
    .fa-bars{
    display:block !important;
    color:white;
    position:fixed;
    top:28px;
    left: 350px;
    font-size: 2em;}
    
    #card1 {
    min-width: 100px;
    margin: 5px;
    padding: 5px;
    position: fixed;
    top: 200px;
    left: 20px;
    width: 165px;
    height: 200px;} 
    
    #card1 p{
    top: 160px;
    left: -10px;
    font-size: 15px;}
    
    #card2 {
    min-width: 100px;
    margin: 5px;
    padding: 5px;
    position: fixed;
    top: 200px;
    left: 210px;
    width: 165px;
    height: 200px;} 

    #card2 p{
    top: 160px;
    left: -10px;
    font-size: 15px;}

    #card3 {
    min-width: 100px;
    margin: 5px;
    padding: 5px;
    position: fixed;
    top: 420px;
    left: 20px;
    width: 165px;
    height: 200px;} 

    #card3 p{
    top: 160px;
    left: -10px;
    font-size: 15px;}

    #card4 {
    min-width: 100px;
    margin: 5px;
    padding: 5px;
    position: fixed;
    top: 420px;
    left: 210px;
    width: 165px;
    height: 200px;} 

    #card4 p{
    top: 160px;
    left: -10px;
    font-size: 15px;}

    .portfolio h1 {
    left: 10px;
    top: 130px;
    font-size: 1.8em;} 

    .fa-user-alt {
    left:25px;
    font-size: 100px;
    padding-top: 30px;
    width: 30%;}

    .fa-users {
    left:12px;
    font-size: 100px;
    padding-top: 30px;
    width: 30%;}
    
    .fa-user-friends{
    left:12px;
    font-size: 100px;
    padding-top: 30px;
    width: 30%;}

    .fa-people-carry{
    left:12px;
    font-size: 100px;
    padding-top: 30px;
    width: 30%;}

    #below h5{
    font-size: 15px;
    top: 630px;
    left: 25px;
    display: table;
    width: 400px;}
        
    /*for styling contact page*/
    #part2 {
    display: none;}
    #part1 {
    left: 35px;} 
    input {width: 300px;}
    legend {font-size: 2em;}
    textarea {width: 320px;}
    #covered {
    width: 370px;
    height: 550px;
    left: 20px;
        } 

    /*this is for styling the footer*/
    footer {
    height: 100px;}
    .fab {
    padding: 5px;}

    /*this is for styling helpkit page*/
    #help {
    top: 200px;
    left: 17px;
    width: 380px;}
        
    #bodytexts {
    width: 360px;
    top: 220px;
    left: 27px;}
}


       